*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

.banner-section{
    background-color: #00b98e;
    width: 100%;
    height: 100%;
}

.sec-border{
    border: 1px solid #cecece94;
}

.sec-3-card:hover{
    background: none;
    border: 1px solid #00b98e;
}